.container {
    position: relative;
    width: 100%;
    max-width: 345px;
    .input {
      width: 100%;
      padding: 8px 16px 4px 16px;
      height: 60px;

      border: 1px solid #ccc;
      border-radius: 5px;
      transition: border-color 0.3s ease;
      font-size: 16px;
  
      &:focus + label,
      &.has-value + label {
        transform: translateY(-22px);
        font-size: 12px;
        color: #666;
      }
    }
  
    label {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s ease;
      pointer-events: none;
      font-size: 14px;
      font-weight: 400;
      color: #757981;
    }
 
  }

.active{
    label{
        transform: translateY(-22px);
        font-size: 12px;
        color: #666; 
    }
}