@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-oxford-blue: #002548;
  --color-white: #fff;
  --color-background: #EBECFF;
  --color-black: #040404;
  --color-description: #696C74;
  --color-lavander: #D2CDFF;
  --color-neutral-gray-400: #8F939A;
  
  /* fonts */
  --font-roboto: 'Roboto', sans-serif;
  --font-sen: 'Sen', sans-serif;
  --font-raleway: 'Raleway', sans-serif;


}

body {
  margin: 0;
}

html{
  background-color: var(--color-background);
  font-family: var(--font-roboto);
  overflow-x: hidden;
  
}

*{
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
